apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: tu_usuario_dockerhub/backend-examen:latest # CHANGE THIS IN EXAM
        ports:
        - containerPort: 3500
        env:
        - name: DB_HOST
          value: "mysql-container"
        - name: DB_USER
          value: "root"
        - name: DB_PASSWORD
          value: "root"

---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 3500
      targetPort: 3500
  type: LoadBalancer
